section #title {
  border: 0;
  outline: none;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}
section #title h1 {
  font-family: 'Shadows Into Light', cursive, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}
section #title p {
  color: #d7cfbe;
  font-family: 'Shadows Into Light', cursive, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

section #links p {
  color: #d7cfbe;
  font-family: 'Juru', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.credits {
  font-size: 11px;
  font-family: 'Juru', Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}
.credits.left {
  float: left;
}
.credits.right {
  float: right;
}

.wrapper {
	background: transparent url("../images/stone_crab.png") no-repeat center center;
}

#footer {
	text-align: center;
}